body{
	background-color: orangered;
	margin: 0 auto;
	text-align: center;
}

header{
	background-color: orangered;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
 header h1{
 	color: #f2b12e;
 	font-size: 50px;
 }

h1, h2{
	font-family: 'Londrina Solid', cursive;
}

main{
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}

main img{
	max-width: 100%;
	border-radius: 150px;
	border: 10px solid #000; 
	border-color: #ff8c21;
}

h2{
	font-size: 40px;
	color: #f2b12e;
}

p{
	font-family: 'Londrina Solid', cursive;
	color: #f0bd59;
	font-size: 20px;
}

ol{
	text-align: center;
}

footer{
	background-color: orangered;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0;
}

ul{
        display:inline-block;
        border:10px solid #000;
        padding:25px;
        border-radius: 70px;
        border-color: #ff8c21; 
        background-color: #fcb344;
}

ul {
  display: table;
  margin: 0 auto;
}

ol{
	display: table;
	margin: 0 auto;
}

ul li{
	color: orangered;
	font-family: 'Londrina Solid', cursive;
}

ul li a{
	color: orangered;
	font-family: 'Londrina Solid', cursive;
}

ol li{
	color: orangered;
	font-family: 'Londrina Solid', cursive;
}

ol{
        display:inline-block;
        border:10px solid #000;
        padding:25px;
        border-radius: 70px;
        border-color: #ff8c21;
        background-color: #fcb344;
}

p.hazie{
	margin-top: 0;
}